:root{
     --fundo: #196b86;
     --frente-cartao: #008B8B;
     --verso-cartao: #000000;
     --destaque: 	#1E90FF;
     --preto: #778899;
     --branco: #2F4F4F; 
}

body{
    background-color: var(--fundo);
    margin: 0%;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}